@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){ /*TABLET*/
    
    section#login{
        width: 90vw;
    }
    section#login > div#image{
        float: left;
        width: 30%;
        height: 100%;
    }
    div#form{
        float: right;
        width: 70%;
    }
    section#login > div#form > h2{
        text-align: center;
        margin-bottom: 10px;
     }
     section#login > div#form > p{
         text-align: center;
         font-size: 1.2em;
      }
}
@media screen and (min-width: 992px) { /*TELAS GRANDES*/
   
    section#login{
        width: 950px;
    }
    section#login > div#image{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#form{
        float: left;
        width: 50%;
    }
    section#login > div#form > h2{
        text-align: center;
        margin-bottom: 10px;
     }
     section#login > div#form > p{
         text-align: center;
         font-size: 1.2em;
      }
}